
 li {
    list-style: none;
 }

 a {
    text-decoration: none;
 }

 .footer {
    width: 1728px;
    height: 477px;
    background: #3A3A3A;
;
 }

 .footer_container {
    width: 1569px;
    height: 147px;
    box-sizing: content-box;
    position: relative;
    padding-top: 85px;
    padding-right: 75px;
    padding-left: 84px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
 }

 .medium_column {
    width: 477px;
    height: 103px;
    margin-left: 132px;
    margin-right: 373px;
 }

 .medium-footer_title {
    width: 350px;
    height: 29px;
    margin-left: 88px;
    margin-right: 39px;
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
 }

 .footer_input {
    width: 477px;
    height: 61px;
    display: flex; 
    align-items: center; 
    border: none; 
    border-radius: 10px;
    overflow: hidden; 
    background: #FFFFFF; 
 }

 .vertical-line {
    border: 1px solid #000000;
    height: 18px; 
}

.footer_input input[type="text"] {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #000000BF;
    border: none;
    outline: none;
    padding: 36px;
    flex-grow: 1; 
}

.footer_input button {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding: 20px 15px 19px 21px;
    cursor: pointer;
    border-radius: 0 5px 5px 0; 
}

.left_column {
    width: 400px;
    height: 87px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
}

.left-footer_title {
    font-weight: 800;
    font-size: 28px;
    line-height: 153%;
    color: #FFFFFF;
}

.product-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 153%;
    color: #FFFFFF;
}

.right_column {
    width: 178px;
    height: 147px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
}

.right-footer_title {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 19px;
    line-height: 100%;
    color: #FFFFFF;
}

.menu-footer_link {
    font-family: Montserrat;
    font-style: Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}


.menu-footer_list {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 17px;
    list-style-type: none;
}

.telega-img {
    position: absolute;
    bottom: 0; 
    /* left: 0; */
}

.vk-img {
    position: absolute;
    bottom: 0px;
    margin-left: 50px;
}

.horizontal-line {
    border: 1px solid;
    width: 66px;
    margin-top: 162px;
    margin-left: 830px;
    margin-right: 757px;
    color: #FFFFFF;
}

.address {
    width: 376px;
    height: 22px;
    margin-left: 676px;
    margin-top: 33px;
}

.product_cards-link {
    font-weight: 400px;
    font-size: 18px;
    color: #FFFFFF;
}