.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    z-index: 1000;
}

.modal-showed {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 400px;
    height: 500px;
    background: #9ACD32;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;

}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    gap: 5px;
}

.form-view {
    font-weight: 400;
    font-size: 20px;
}

.form-input{
    height: 35px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.register-button {
    width: 300px;
    height: 40px;
    margin-left: 20px;
    background: #F0E68C;
    border-radius: 20px;
    font-weight: 300;
    font-size: 20px;
    font-weight: 500;

}

.autentication-button {
    width: 300px;
    height: 40px;
    margin-left: 20px;
    background: #F0E68C;
    border-radius: 20px;
    font-weight: 300;
    font-size: 20px;
    font-weight: 500;
}

.modal-close-button {
    color: black;
    margin-left: 350px;
    border: none;
    background-color: transparent;
    cursor: pointer;   
}
