* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", Arial;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

 .card-container {
    width: 340px;
    height: 573px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
    font-size: 12px;
    line-height: 24px;
    padding-top: 30px;
    text-transform: uppercase;
    color: #A5A3B9;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-description {
    margin-bottom: 15px;
}

.product-compound {
    margin-top: 5px;
    list-style: circle;
    list-style-position: inside;
}

.product-price-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.product-price-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.page-cards {
    width: 1280px;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background: #FFFFFF;
    background-image: url("./images/background-picture.png");
    background-size: 790px 697px;
    background-repeat: no-repeat;
    background-position: left 85px top -300px;
}

#product-list {
    width: 1110px;
    height: 1191px;
    background: #FFFFFF;
    /* margin-bottom: 116px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    list-style-type: none;
}

.headline {
    font-weight: 400;
    font-size: 70px;
    width: 846px;
    height: 78px;
    margin-left: 132px;
    margin-top: 220px;
    margin-bottom: 110px;
}

.page-management {
    position: relative;
}

.bg-aqua {
    background-color: aquamarine;
}

.bg-dark-violet {
    background-color: #515076;
}